.DS_Store
node_modules

sandbox/config/**/*.local.*

# Log files
*.log*

# Editor directories and files
.idea
.vscode

# Project specific
/dist
/.secrets
/Dockerfile.sandboxtest
/ccr-ca-bundle.crt
/src/lib/**/*.MD
/src/*.*
/docs/*
!/docs/ai-playbook
package-lock.json
*.example
.env.*
*.tgz
*.backup