.wrapper {
    background: #dcdee1;
}

.progress-line {
    background: #d93f2b;
    border-radius: inherit;
    transition: width 0.6s ease-out;
}

.left-content {
    display: inline-block;
    width: var(--w-left-content-width);
}

.right-content {
    display: inline-block;
    width: var(--w-right-content-width);
}
