.progress-bar {
  position: relative;
  width: 100%;

  .marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--marker-left);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;

    .mdi {
      position: absolute;
      opacity: 1;
      transform: scaleY(1) scaleX(1);
      transition: opacity, transform .3s ease-out;
      font-size: 0.625rem;
      color: var(--color-white);
    }

    img {
      position: absolute;
      opacity: 0;
      transform: scaleY(0.5) scaleX(0.5);
      transition: opacity, transform .3s ease-out;
    }

    &:last-child {
      .mdi {
        opacity: 0;
      }

      img {
        opacity: 1;
        transform: none;
      }
    }
  }

  &:hover {
    .marker {
      .mdi {
        opacity: 0;
        transform: scaleY(0.1) scaleX(0.1);
      }

      img {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
      }
    }
  }
}

.progress-line {
  border-radius: inherit;
  transition: width 0.6s ease-out;
}
