@b unsaved-popup {
    @e body {
        border-bottom: 1px solid var(--color-border);
    }

    @e title {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
    }

    @e caption {
        composes: color-grey-dark font-normal from global;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 40px;
    }

    @e footer {
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
}
