.cards-grid {
    display: grid;
    grid-template-columns: var(--w-cards-grid_template-columns);
    grid-auto-rows: var(--w-cards-grid_auto-rows);
    gap: var(--w-cards-grid_gap);
}

.result-row {
    position: sticky;
    inset: var(--w-result-row_inset);
    order: var(--w-result-row_order);
    z-index: 1;
}
