@b editor-hack-message {
    composes: w-100 pad-2 text-center text-small from global;
    background-color: rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@b svg-container {
    composes: w-100 h-100 pos-rel from global;
}
